<div class="row" *ngFor="let student of students; let i = index" style="background-color: #CCC; border-radius: 10px; padding: 5px; border-bottom: 1px dashed #333; margin-bottom: 10px;">
    <div class="col-xs-9">
        <h3>{{student.name}}</h3>
        <button style="vertical-align: middle;" class="btn btn-default btn-sm" (click)="onEdit(student.id, i)"><span class="glyphicon glyphicon-pencil"></span></button>
        <button style="vertical-align: middle;" type="button" class="btn btn-danger btn-sm" (click)="onRemove(student.id)"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
    <div class="col-xs-3">
        <img [src]="student.imageUrl" width="60px" height="90px" style="border-radius: 10px; border: 2px #333 solid;">
    </div>
    <div class="col-xs-12" style="background-color: rgb(255, 255, 226); padding: 5px; margin-top: 20px;" *ngIf="showEditForm && currentStudentIndex === i">
        <form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm)">
            <div class="form-group">
                <input 
                    type="text"
                    formControlName="studentName"
                    class="form-control"
                    placeholder="Student Name...">
            </div>
            <div class="form-group">
                <img [src]="currentStudentEdit.imageUrl"style="border: 1px solid #333; padding: 2px; border-radius: 7px; background-color: #666;" width="70px" height="90px">
                <input 
                    type="file"
                    formControlName="studentImage"
                    class="form-control"
                    (change)="onPreview($event)">
            </div>
            <div class="form-group">
                <button class="btn btn-danger" type="submit">Save changes</button>
                <br>
                <br>
                <img src="../../../assets/images/loading.gif" *ngIf="savingProcess">
                <div class="alert alert-success" *ngIf="savedSuccess">
                    <h4>Changes saved successfully!</h4>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row" *ngIf="students.length === 0">
    <div class="col-xs-12">
        <h3 style="color: rgb(252, 21, 21); background-color: black; padding: 5px; border-radius: 10px;">No students in this group</h3>
    </div>
</div>