<div
  class="flower-bg"
  [ngStyle]="{
    'background-image':
      'url(../../../../../assets/images/' + groupIndex + '.png)'
  }"
>
  <img
    *ngIf="showRandomWheel"
    [src]="photoSrc"
    [ngClass]="
      groupIndex > 8
        ? 'img-circle traffic-random'
        : 'img-circle random-position'
    "
  />
</div>
<h3 *ngIf="showRandomWheel" style="color: yellow">Loading...</h3>
<div *ngIf="showWinnerStudent && selectedStudent">
  <!-- <img
    [src]="selectedStudent.imageUrl"
    height="430px"
    width="400px"
    style="border: 5px solid rgb(255, 115, 0); border-radius: 10px"
  /> -->
  <img
    [src]="selectedStudent.imageUrl"
    height="430px"
    width="400px"
    [ngClass]="
      groupIndex > 8
        ? 'img-circle traffic-random answer'
        : 'random-position img-circle'
    "
  />
  <h2
    style="
      color: white;
      padding: 10px;
      background-color: rgb(27, 27, 27);
      border: solid 1px yellow;
      border-radius: 10px;
    "
  >
    {{ selectedStudent.name }}
  </h2>
</div>
<h1 *ngIf="!selectedStudent && showWinnerStudent" style="color: white">
  No students in this group
</h1>
<!-- <hr>
<hr>
<div id="image-holder">
    {{image}}
</div> -->
