.flower-bg {
  width: 255px;
  height: 485px;
  background-size: contain;
  margin-left: 120px;
}
.random-position {
  position: absolute;
  top: 90px;
  left: 180px;
  height: 150px;
  width: 150px;
}
.img-thumbnail {
  background: none;
  border: 0;
}
