<div class="container-fluid" style="background-image: url(../../../assets/images/background.jpg); min-height: 900px;">
  <div class="row">
    <div class="col-xs-12">
      <app-navigation></app-navigation>
    </div>
  </div>
  <div class="row" *ngIf="showCreateGroupForm">
    <div class="col-xs-4" style="color: yellow;">
      <app-group-create></app-group-create>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-groups></app-groups>
    </div>
  </div>
  <!-- <div class="row" *ngIf="randomClicked">
    <div class="col-xs-4 col-xs-push-4 text-center">
      <app-student-selected></app-student-selected>
    </div>
  </div> -->
  <div class="row" *ngIf="editClicked">
    <div class="col-xs-4 col-xs-push-4 text-center">
      <app-group-edit></app-group-edit>
    </div>
  </div>
</div>