<div
  class="container-fluid"
  style="min-height: 900px"
  [ngClass]="section1 ? 'flower' : 'traffic'"
>
  <div class="row">
    <div class="col-xs-12">
      <app-navigation></app-navigation>
    </div>
  </div>
  <div *ngIf="showCreateGroupForm" style="color: yellow; margin-top: 30px">
    <app-group-create></app-group-create>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-groups></app-groups>
    </div>
  </div>
  <!-- <div class="row" *ngIf="randomClicked">
    <div class="col-xs-4 col-xs-push-4 text-center">
      <app-student-selected></app-student-selected>
    </div>
  </div> -->
  <div class="row" *ngIf="editClicked">
    <div class="col-xs-4 col-xs-push-4 text-center">
      <app-group-edit></app-group-edit>
    </div>
  </div>
</div>
