h1
<div
  class="col-xs-4 text-center"
  *ngFor="let group of groups; let i = index"
  style="margin-bottom: 30px"
>
  <div *ngIf="+group.section === currentSection && i > 5">
    <h1 style="color: black">{{ group.name }}</h1>
    <img
      *ngIf="!randomClicked || i !== currentIndex"
      [src]="group.imageUrl"
      (click)="onRandom(group.id, i)"
      class="img-thumbnail img-responsive"
      style="cursor: pointer; height: 350px"
    />
    <app-student-selected
      *ngIf="randomClicked && i === currentIndex"
    ></app-student-selected>
    <div style="margin-top: 10px">
      <button
        class="btn btn-danger"
        type="button"
        (click)="onAddStudent(group.id, i)"
      >
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      <button
        class="btn btn-warning"
        type="button"
        (click)="onRandom(group.id, i)"
      >
        Random
      </button>
      <button
        class="btn btn-default"
        type="button"
        (click)="onEdit(group.id, i)"
      >
        {{ editClickedStatus && currentIndex === i ? "Hide Edit" : "Edit" }}
      </button>
    </div>
    <div class="text-center" *ngIf="showAddStudentForm && i === currentIndex">
      <app-student-create></app-student-create>
    </div>
  </div>
  <div *ngIf="!currentSection && i > 5">
    <h1 style="color: black">{{ group.name }}</h1>
    <img
      *ngIf="!randomClicked || i !== currentIndex"
      [src]="group.imageUrl"
      (click)="onRandom(group.id, i)"
      class="img-thumbnail img-responsive"
      style="cursor: pointer; height: 500px"
    />
    <app-student-selected
      *ngIf="randomClicked && i === currentIndex"
    ></app-student-selected>
    <div style="margin-top: 10px">
      <button
        class="btn btn-danger"
        type="button"
        (click)="onAddStudent(group.id, i)"
      >
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      <button
        class="btn btn-warning"
        type="button"
        (click)="onRandom(group.id, i)"
      >
        Random
      </button>
      <button
        class="btn btn-default"
        type="button"
        (click)="onEdit(group.id, i)"
      >
        {{ editClickedStatus && currentIndex === i ? "Hide Edit" : "Edit" }}
      </button>
    </div>
    <div class="text-center" *ngIf="showAddStudentForm && i === currentIndex">
      <app-student-create></app-student-create>
    </div>
  </div>
</div>
