<div class="row text-center more-style">
  <div class="col-md-6 col-md-push-3">
    <button class="btn btn-success btn-sm" (click)="onNewGroup()" type="button">
      <span class="glyphicon glyphicon-plus"></span> Group
    </button>

    <!-- The following two buttons are made manually and not fully programmed -->
    <!-- If you want to change something you have to review the mecanisme of how they are working -->
    <!-- <button class="btn btn-warning btn-lg" (click)="showAll()" type="button">All Groups</button> -->
    <button
      class="btn btn-primary btn-lg"
      (click)="showSecrion2()"
      type="button"
    >
      Students
    </button>
    <button
      class="btn btn-danger btn-lg"
      (click)="showSecrion2()"
      type="button"
    >
      Questions
    </button>
  </div>
</div>
